body {
	color: #666666;
	background-color: #FFFFFF;
	
}

header {
	color: #FFFFFF;
	background-color: #00B386;
	
}

nav {
	color: #666666;
	background-color: #70DBDB;
	
}

h2 {
	color: #00664D;
	background-color: #70DBDB;
	
}
